.github/workflows/continue-on-error.yaml
.github/workflows/def.yaml
.github/workflows/parallel.yaml
.github/workflows/task_1.yaml
.github/workflows/task_2.yaml
.github/workflows/task_3.yaml
.github/workflows/task_4.yaml
.github/workflows/task_5.yaml
.github/workflows/task_6.yaml
.github/workflows/task_7.yaml
.github/workflows/task_8.yaml